body {
    font-family: 'Roboto';
}

.data-center-section {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    text-align: center;
}

.video-container {
    position: relative;
    width: 100%;
    height: 500px;
    /* Adjust based on the size you need
    background: url('path_to_your_video_thumbnail.jpg') center center / cover no-repeat; */
}

.video-container iframe {
    width: 80%;
    height: 108%;
    border-radius: 20px;
    display: none;
}

.play-button {
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    /* Size of the play button */
    height: 60px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 20%;
    font-size: 30px;
    /* Adjust the size of the play icon */
    cursor: pointer;
}

.video-description h2 {
    color: #000;
    margin-bottom: auto;
    font-size: 34.5px;
    font-weight: 400;
    line-height: 45px;
    text-align: center;
}

.video-description p {
    color: #666;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}

.info-slides {
    display: flex;
    justify-content: center;
    /* width: 90%; */
    gap: 1.75vw;
    margin-top: 7vh;
}

.info-slide {
    width: 14.5vw;
    position: relative;
}

.info-slide img {
    width: 100%;
    height: auto;
}

.info-slide p img {
    width: 15.13px;
    height: 17.88px;
    top: 2.06px;
    left: 5.5px;
    gap: 0px;
    opacity: 0px;    
}

.info-slide p {
    width: auto;
    text-wrap: nowrap;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
    color: #333;
    position: absolute;
    z-index: 1;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    display: flex;
    gap: 0.4vw;
    flex-direction: row;
    align-items: center;
}

@media (max-width: 1024px) {

    .data-center-section {
        width: fit-content;
        font-size: 30px;
        font-weight: 400;
        line-height: 40px;
        text-align: center;
        padding: 24px;
        overflow: hidden;
    }

    .desc-parent {
        width: 40%;
        margin: auto;
    }

    .video-container iframe {
        /* width: 100%;
        height: 100%;
        display: inline-block; */
    }

    .video-description p {
        padding-bottom: 20px;
    }

    .video-container {
        padding-bottom: 20px;
    }

    .info-slides {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 72px;
        column-gap: 27.98px;
    }

    .info-slide {
        width: auto;
    }

    .info-slide p {
        top: 40%;
        font-size: 9.96px;
        font-weight: 400;
        line-height: 17.65px;
        text-align: center;
    }
}