body {
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0px;
}

.pioneering-safety-section {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    text-align: left;
}

.pioneering-safety-section h2 {
    color: #333;
    font-size: 34.5px;
    font-weight: 400;
    line-height: 45px;
    text-align: left;
    margin: 0px;
}

.pioneering-safety-section p {
    color: #666;
    margin-bottom: 20px;
    font-size: 13.5px;
    font-weight: 400;
    line-height: 23px;
    text-align: left;
}

.carousel {
    display: flex;
    overflow-x: auto;
    gap: 20px;
    padding: 20px 0;
    scrollbar-width: none;
    /* Hides the scrollbar in Firefox */
    -ms-overflow-style: none;
    /* Hides the scrollbar in Internet Explorer and Edge */
}

.carousel::-webkit-scrollbar {
    display: none;
    /* Hides the scrollbar in Chrome, Safari, and Opera */
}

.card {
    flex: 0 0 auto;
    width: 400px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    background: white;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.card-image {
    background: #f0f0f0;
}

.card-image img {
    width: 100%;
    height: auto;
    display: block;
}

.card-content {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap: 1vh;
    text-align: left;
    height: 100%;
}


.card-content h3 {
    color: #333;
    font-size: 15px;
    font-weight: 700;
    line-height: 21px;
    text-align: left;
    margin: 0px;
}

.card-content p {
    color: #666;
    font-size: 15px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    margin: 0px;
}

.card-content span {
    font-size: 15px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: #565656;
    margin: 0px;
    margin-top: 1vh;
}

.know-more {
    align-self: flex-start;
    color: #2F93FF;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    line-height: 21px;
    text-align: left;
    margin: 0px;
}

.carousel-wrapper {
    display: flex;
    align-items: center;
    /* Vertical alignment */
    /* justify-content: space-between; Space between the text and controls */
    /* padding: 20px; Optional padding for better spacing */
}

.carousel-wrapper p {
    width: 75%;
    /* flex: 1; Takes up the majority of space */
    padding-right: 20px;
    /* Ensures some space between the text and controls */
}

/* .carousel-control:hover {
    background-color: #0056b3;
} */

.carousel-pagination {
    position: relative;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.dot {
    height: 7px;
    width: 7px;
    margin: 15px 5px;
    background-color: #ccc;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.dot.active {
    background-color: #333;
}

@media (max-width: 425px) {

    .card {
        width: fit-content;
    }

    .card-content h3 {
        color: #333;
        font-size: 16px;
        font-weight: 700;
        line-height: 13.57px;
        text-align: left;
        margin: 0px;
    }

    .card-content p {
        color: #666;
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        text-align: left;
        margin: 0px;
    }

    .card-content span {
        font-size: 10px;
        font-weight: 400;
        line-height: 13.57px;
        text-align: left;
        color: #565656;
        margin: 0px;
        margin-top: 1vh;
    }

    .know-more {
        align-self: flex-start;
        color: #2F93FF;
        text-decoration: none;
        font-size: 12px;
        font-weight: 600;
        line-height: 13.57px;
        text-align: left;
        margin: 0px;
    }
}