<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BTS</title>
    <link href="./bts.css" rel="stylesheet" />
  </head>
  <body>
    <div class="video-container">
      <div class="navigate">Home > Built To Suit</div>
      <video autoplay loop muted>
        <source src="../../assets/btsheader.mp4" type="video/mp4" />
      </video>
      <div class="video-bottom">
        <h1>Scale in India with Build-to-Suit Solutions</h1>
        <p>
          Masterplan your growth with our AI-ready data center solutions powered
          by renewable energy.
        </p>
        <div style="display: flex;">
          <button class="leftbtn">Connect with DC advisor</button>
          <button class="rightbtn">Download Factsheet</button>
        </div>
      </div>
    </div>
    <div class="leverage">
      <div class="leverage-text">
        <h1>Leverage Adani’s Infrastructure For Your Growth</h1>
        <p class="leverage-para">
          With over 25 years of experience in building megastructures, the Adani
          Group has a proven track record of delivering reliable and sustainable
          infrastructure projects, laying a strong foundation for future growth
          and innovation in the data center industry.
        </p>
      </div>
      <div class="leverage-image">
        <img src="../../assets/img.png" alt="Adani Infrastructure" />
      </div>
    </div>

    <div class="success">
      <h1>Driving Success with Unique Values</h1>
      <p>
        Empowering customers with innovation, flexibility, and seamless support,
        ensuring long-term success and future readiness.
      </p>
      <div class="success-cards">
        <div class="success-card1">
          <img src="../../assets/image.png" alt="Success Card" />
          <p>Faster Time to Market</p>
        </div>

        <div class="success-card2">
          <img src="../../assets/div.eci-holder.png" alt="Success Card" />
          <p>Energy Security</p>
        </div>
        <div class="success-card3">
          <img src="../../assets/success2.png" alt="Success Card" />
          <p>Faster Time to Market</p>
        </div>
        <div class="success-card4">
          <img src="../../assets/success2.png" alt="Success Card" />
          <p>Faster Time to Market</p>
        </div>
      </div>
    </div>
    <div class="control">
      <h1>With Full Control Over Data Center Lifecycle</h1>
      <p>Our holistic approach enables us to collaborate and co-create with you, providing the flexibility to design, build, and operate customized solutions tailored to your needs.</p>
     <img src="../../assets/features.png" style="width: 100%; height: 100%;"/>
    </div>
  </body>
</html>
