<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Scalable Solutions to Power Your Growth</title> -->
    <link rel="stylesheet" href="./testimonials-section.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>

<body>

    <!-- <div class="testimonial-section">
        <h1>Hear From Our Satisfied Clients</h1>
        <p>Discover how our future-ready solutions have empowered businesses through the voices of our satisfied clients.</p>
        <div class="testimonial-container">
            <img src="kalyan_krishnamurthy.jpg" alt="Kalyan Krishnamurthy" class="testimonial-image">
            <div class="testimonial">
                <div class="testimonial-text">
                    <p class="quote">
                        “The Adani Group is unmatched in the way it has gone about building infrastructure across India. What it brought to us was a unique combination of logistics, real estate, green energy, and data center infrastructure capabilities. We are delighted to initiate our association with the Adani Group to strengthen our supply chain and technology infrastructure.”
                    </p>
                    <p class="author">— Kalyan Krishnamurthy, CEO</p>
                </div>
            </div>
        </div>
    </div> -->
    <h1 id="testimonial-header">Hear From Our Satisfied Clients</h1>
    <p id="testimonial-disc">Discover how our future-ready solutions have empowered businesses through the voices of our satisfied clients.
    </p>
    <div class="testimonial-section">
        <div class="testimonial">
            <div class="testimonial-image">
                <img src="./../../assets/testimonial-img.svg" height="250px" width="250px" alt="Kalyan Krishnamurthy">
            </div>
            <div class="testimonial-content">
                <p class="testimonial-quote">
                    The Adani Group is unmatched in the way it has gone about building infrastructure across India.
                    What it brought to us was a unique combination of logistics, real estate, green energy, and data
                    center infrastructure capabilities. We are delighted to initiate our association with the Adani
                    Group to strengthen our supply chain and technology infrastructure.
                </p>
                <!-- <p class="testimonial-author">Kalyan Krishnamurthy, CEO</p> -->
                <div class="profile-info">
                    <img src="./../../assets/flipkart-logo.svg" alt="Profile Icon" class="profile-icon">
                    <div class="name-title">
                        <p class="name">Kalyan Krishnamurthy</p>
                        <p class="title">CEO</p>
                    </div>
                </div>
            </div>
        </div>
    </div>





</body>

</html>